<!doctype html>
<html>
<head>
    <title>Unhandled exception</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="all" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />

    <link rel="icon" href="/gfx/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/gfx/favicon.png" type="image/png" />

    <link rel="stylesheet" href="/css/debug.css" type="text/css" />
    <link rel="stylesheet" href="/css/lithium.css" type="text/css" />
</head>
<body class="app">
    <div id="container">
        <div id="header">
            <h1>An unhandled exception was thrown</h1>
        </div>
        <div id="content">
        {{ this.content }}
        </div>
    </div>
</body>
</html>

